
uk/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.idea/modules.xml
.idea/php.xml
.idea/ukrainian-localization-of-the-phpBB3.3-forum.iml
.idea/vcs.xml
.DS_Store
.idea/modules.xml
.idea/php.xml
.idea/ukrainian-localization-of-the-phpBB3.3-forum.iml
.idea/vcs.xml
.DS_Store
.DS_Store
.DS_Store
